.column{
    height: 90vh;
    border-color:blue ;
    border-style: solid;
    text-align: center;
}
h1{

    color: black;
}
.avl{
    color: green;
}
.navl{
    color: red;
}
.prt{
    color:blue;
}